* {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Arial Narrow', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(112, 157, 202);   
}

button {
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

/* ========= header ========= */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: rgba(0,0,0,0.5); */
}

.logo {
    display: flex;
    align-items: center;
}
.logo__icon {
    width: 65px;
    margin-right: 10px;
}
.logo__text {
    color: rgb(255, 219, 71);
    font-size: 36px;
    font-family: "MV Boli";
}
nav {
    padding-left: 20px;
}
.nav__link {
    margin-right: 40px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    white-space: nowrap;
}

/* ========= main ========= */
.pic-top {
    background: url(../images/photos/top.jpg) center center / cover no-repeat;
    min-height: 560px;
}

.pic-top__layer {
    width: 100%;
    min-height: 560px;
    background-color: rgba(33, 12, 34, 0.6);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.pic-top__center {
    color: white;
    text-align: center;
}
.pic-top__center p {
    font-size: 30px;
}
.pic-top button {
    position: absolute;
    bottom: 100px;
}

.section__title {
    margin-top: 60px;
    text-align: center;
}
.section__title p {
    margin-top: 20px;
    font-size: 18px;
}

.offers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 0;
}
.offers__item {
    display: flex;
    flex-grow: 1;
    flex-basis: 300px;
    padding: 15px;
    box-sizing: border-box;
    min-width: 46%;
}
.offers__icon {
    padding: 30px;
    margin: 0 20px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.offers__title {
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
}
.offers__text {
    font-size: 14px;
    color: #555;
}
.map {
    background-image: url(../images/icons/map.png);
}
.souvenir {
    background-image: url(../images/icons//souvenir.png);
}
.compass {
    background-image: url(../images/icons/compass.png);
}
.picture {
    background-image: url(../images/icons/picture.png);
}
.discussion {
    background-image: url(../images/icons/discussion.png);
}
.sun {
    background-image: url(../images/icons/sun.png);
}

.about {
    min-height: 623px;
    background-color: #ffc155;
    display: flex;
}
.about__photo {
    min-width: 50%;
    min-height: 100%;
    background: url(../images/photos/group.jpg) center center / cover no-repeat;
}
.about__item {
    padding: 80px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__title {
    color: white;
}
.about__text{
    color: white;
    margin: 20px 0;
    line-height: 26px;
}
.about__item button {
    max-width: 250px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery__item {
    box-sizing: border-box;
    width: 25%;
}


/* ------------- others ------------- */
.btn-blue {
    background-color: rgb(112, 157, 202);    
}
.btn-yellow {
    border: 1px solid rgb(203, 141, 33);
    background-color: rgb(231, 173, 72);
}
.line {
    position: relative;
    margin-bottom: 80px;
}
.line:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 10px;
    right: 10px;
    width: 20%;
    margin: auto;
    height: 1px;
    background: rgb(203, 141, 33);
}